<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/blue.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tipsy.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cufon.yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrollTo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myriad.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
<form action=/editinfo method='POST' enctype='multipart/form-data'>

	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Upload_image
		<input class="portrait" label='Image' style="width:60%; height:40%;" type="file" accept="image/*", name="profile_pic">
		</label><br>
	</div>

	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Name
		<input style="width:60%; height:10%; type="text" class="name" value="{{fp.name}}" name='Name'>
		</label><br>
	</div>
	
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Department
		<input lable='Department' style="width:60%; height:10%; type="text" class="name" value="{{fp.department}}" name='Department'>
		</label><br>
	</div>
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Email
		<input lable='Email' style="width:60%; height:10%; type="text" class="name" value="{{fp.email}}" name='Email'>
		</label><br>
	</div>
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Phone_No
		<input lable='Phone_No' style="width:60%; height:10%; type="text" class="name" value="{{fp.phone_no}}" name='Phone_No'>
		</label><br>
	</div>
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Website
		<input lable='Website' style="width:60%; height:10%; type="text" class="name" value="{{fp.website}}" name='Website'>
		</label><br>
	</div>
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		About_me
		<input lable='About_me' style="width:60%; height:10%; type="text" class="name" value="{{fp.about_me}}" name='About_me'>
		</label><br>
	</div>
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Research_area
		<input lable='Research_area' style="width:60%; height:10%; type="text" class="name" value="{{fp.research_area}}" name='Research_area'>
		</label><br>
	</div>
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Current_Research_interest
		<input lable='Current_Research_interest' style="width:60%; height:10%; type="text" class="name" value="{{fp.current_research_interest}}" name='Current_Research_interest'>
		</label><br>
	</div>
	
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Education_Work
		<input lable='Education_Work' style="width:60%; height:10%; type="text" class="name" value="{{fp.education_work}}" name='Education_Work'>
		</label><br>
	</div>
	
	
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Teaching_Interests
		<input lable='Teaching_interests' style="width:60%; height:10%; type="text" class="name" value="{{fp.teaching_interests}}" name='Teaching_interests'>
		</label><br>
	</div>
	
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Projects
		<input lable='Projects' style="width:60%; height:10%; type="text" class="name" value="{{fp.projects}}" name='Projects'>
		</label><br>
	</div>
	
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Publications
		<input lable='Publications' style="width:60%; height:10%; type="text" class="name" value="{{fp.publications}}" name='Publications'>
		</label><br>
	</div>
	
	
		
	<div class="entry">
		<label style="width:60%; height:10%; margin-left: 50px;">
		Awards
		<input lable='Awards' style="width:60%; height:10%; type="text" class="name" value="{{fp.awards}}" name='Awards'>
		</label><br>
	</div>
	<br>
	<br>
	<input type="submit" style="margin-left:250px;" value="Submit" class="submitprofile">
	
</form>
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
