<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/blue.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tipsy.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cufon.yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrollTo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myriad.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2>Total Leaves Remaining</h2>
          <p>from db</p>
        </div>
        <!-- End 1st Row -->


	<!-- Begin temp Row -->
        <div class="entry">
          <h2>Status of Leave Applications</h2>
          <ul class="info">
              <li>from db</li>
              
            </ul>
        </div>
        <!-- End temp Row -->
        


	<!-- Begin temp Row -->
        <div class="entry">
          <h2>Start New Leave Application</h2>
<div class="form" >
           <form action=/leaveapplication method='POST' enctype='multipart/form-data'>
		  
			<div class="entry">
				<input lable='StartDate' style="width:60%; height:10%; type="text" class="name" value="dd/mm/yy" name='StartDate'><br>
			</div>
			
			
			
			<div class="entry">
				<input lable='EndDate' style="width:60%; height:10%; type="text" class="name" value="dd/mm/yy" name='EndDate'><br>
			</div>
		  
			
			<div class="entry">
				<input lable='Comments' style="width:60%; height:10%; type="text" class="name" value="dd/mm/yy" name='Comments'><br>
			</div>
		  
		  <input type="submit" value="Submit">
	   </form> 
 </div>
        </div>
        <!-- End temp Row -->

	
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
